---
---

@import "{{ site.theme }}";

* {
    font-family: 'Titillium Web', sans-serif;
}

.page-header {
    background: #1094ab; /* Old browsers */
    background: -moz-linear-gradient(45deg, #1094ab 0%, #64c4d2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1094ab 0%,#64c4d2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1094ab 0%,#64c4d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1094ab', endColorstr='#64c4d2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
    padding-bottom: 50px;
}

.page-header img {
    border: 0;
    width: 420px;
    max-width: 100% !important;
}

.page-header > h2 {
    color: white !important;
    font-weight: 400 !important;
}

.page-header .btn {
    color: white;
    border-color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #1094ab !important;
    font-weight: 700 !important;
}
